$light-color: #d5e1ef;
$font-stack: "Outfit", sans-serif;
$headingColor: #1f314f;
$textColor: #68778d;
$linkColor: hsl(228, 45%, 44%);

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  font-family: $font-stack;
}

.container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 320px;
  height: 499px;
  padding: 16px;
  align-items: center;
  border-radius: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: $linkColor;
  }
}

.image-content img {
  width: 288px;
  height: 288px;
  border-radius: 10px;
}

.text-content {
  display: flex;
  flex-direction: column;
}

.heading {
  text-align: center;
  font-family: $font-stack;
  font-optical-sizing: auto;
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0;
  color: $headingColor;
  padding: 16px 0;
}

.subtext {
  text-align: center;
  font-family: $font-stack;
  font-optical-sizing: auto;
  line-height: 140%;
  font-weight: 400;
  color: $textColor;
  letter-spacing: 0.2px;
  font-size: 15px;
  padding-bottom: 40px;
  justify-content: center;
}
